!scripts/02-amber-prep.log
!structures/protein/1JC0-Cu.pdb
!simulations/02-prep/mol.prmtop
!simulations/02-prep/mol.inpcrd
!scripts/03-min-prep.log
!scripts/04-relax-prep.log
!scripts/05-prod-prep.log

mol.prmtop
mol.inpcrd
